process {
    withName: runPairwiseRow {
        cpus = 1
        maxForks = 16
        errorStrategy = 'retry'
        maxRetries = 1
        container = 'https://depot.galaxyproject.org/singularity/biopython%3A1.70--np112py36_1'
    }

    withName: mergeRows {
        cpus = 1
        container = 'https://depot.galaxyproject.org/singularity/pandas%3A2.2.1'
    }
}


singularity {
    enabled = true
    autoMounts = true
}